:root{
    --header-bg-color: #CAE9FF;
    --header-text-color:black;
    --both-inner-box-color: aliceblue;
    --footer-color:  #1b4965;
    --footer-text-color: white;
    --switch-day-night: #69B4E0;
    --switch-fill-color: #205274;

    --main-topic-box-color: linear-gradient(to bottom,#1b4965,#5FA8D3 );
    --main-topic-img-color: linear-gradient(#3485bb,#61afd8 ); 
    --esp-topic-box-color: linear-gradient(to bottom,#1b4965,#5FA8D3 );
    --esp-topic-img-color: linear-gradient(#205274,#417592 );
    --content-back-color: white;
    --small-content-color: white;

}
body.darkmode{
    --header-bg-color: #073550;
    --header-text-color:white;
    --both-inner-box-color: #69B4E0;
    --footer-color: #CAE9FF;
    --footer-text-color: black;
    --switch-day-night: #205274;
    --switch-fill-color: #69B4E0;

    --main-topic-box-color: linear-gradient(to bottom, #5FA8D3, #1b4965 );
    --main-topic-img-color: linear-gradient(#61afd8, #3485bb ); 
    --esp-topic-box-color: linear-gradient(to bottom, #5FA8D3, #1b4965 );
    --esp-topic-img-color: linear-gradient(#417592, #205274 );
    --content-back-color: linear-gradient(to bottom, #001524, #003A63, #00518A);
    --small-content-color: linear-gradient(to bottom , #002139, #00518A) ;
    --content-area-text-bg-color: linear-gradient(to bottom, #00182A, #001E33);
}

#theme-switch{
    top: 20px;
    right: 20px;
    height: 50px;
    width: 70px;
    padding: 0;
    border-radius: 50px;
    background-color: var(--switch-day-night);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#theme-switch svg{
    fill: var(--switch-fill-color)
}
#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

header{
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 140px;
}

header a {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    border: solid 2px #fff; /*leave dis*/
    border-radius: 5px;
    width: 120px;
    height: 120px;
    overflow: hidden; 
}

.header-text{
    color: var(--header-text-color);
    text-align: center;
    width: 100%;
    font-size: 25px;
    position: static;
    font-family: 'Segoe UI', sans-serif;
}

#header-logo {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 5px;
    object-fit: fill;
}


.main-topic {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-topic-box-color);
    width: 200px;
    height: 300px;
    margin: 20px 15px 20px 15px;
    border-radius: 20px;
    color: inherit;
    box-shadow: #1b4965 0px 10px 0px 0px;
}

.main-topic img {
    border : solid 3px #1b4965;;
    border-radius : 20px;
    background: var(--main-topic-img-color);
    height: 180px;
    width: 180px;
    margin: 15px 20px 0 20px;
}


.main-topic h3 {
    background-color: var(--both-inner-box-color);
    border: solid 3px #1b4965;
    border-radius: 20px;
    width: 200px;
    padding: 0;
    margin: 20px;
    width: 180px;
    height: 80px;
    text-align: center;
    font-size: 13px;
    color: black;
    padding-top: 13px;
    font-family: 'Segoe UI', sans-serif;
}

.esp-topic {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--esp-topic-box-color);
    width: 200px;
    height: 300px;
    margin: 20px 15px 20px 15px;
    border-radius: 20px;
    color: inherit;
    box-shadow: #1b4965 0px 10px 0px 0px;
}

.esp-topic img {
    border : solid 3px #1b4965; /*leave this*/
    border-radius : 20px;
    background: var(--esp-topic-img-color);
    height: 180px;
    width: 180px;
    margin: 15px 20px 0 20px;
}

.esp-topic h3 {
    background-color: var(--both-inner-box-color);
    border: solid 3px #1b4965;
    border-radius: 20px;
    width: 200px;
    padding: 0;
    margin: 20px;
    width: 180px;
    height: 80px;
    text-align: center;
    font-size: 13px;
    color: black;
    padding-top: 13px;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--content-back-color);
    color: var(--header-text-color);
    transition: background 0.3s, color 0.3s;
}


footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px;
    margin: 0px;
}

input[type=submit] {
  background-color: #1b4965;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.main-topic:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

p{
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
}

form{
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    margin: 30px auto;
    border-radius: 20px;
    background-color: #bee7fe;
    border: solid 3px #1b4965;
    padding: 10px;
    max-width: 800px;
}

input[type=submit] {
  background-color: #1b4965;
  border: solid 3px #1b4965;
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

label {
  padding: 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

select {
  padding: 10px;
  font-size: 15px;
  border: 2px solid #1b4965;
  border-radius: 8px;
  background-color: #1b4965;
  color: white;
  cursor: pointer;
}

select:focus {
  border-color: #0077cc;
  outline: none;
  background-color: #1b4965;
  color: white;
}

arrow-Nav {
    display: flex;
    justify-content: center;
    gap: 40px; /* space between arrows */
    margin: 20px 0;
}

arrow-Nav a {
    position: static; /* or just remove position */
    margin: 0 20px;
}


#arrow {
    background-color: #bee7fe;
    display: block;
    margin: 0;
    border: 0;
    border-radius: 5px;
    object-fit: fill;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 20px 15px 20px 15px;
    border-radius: 20px;
    color: inherit;
    border : solid 3px #1b4965;;
    border-radius : 20px;
    background-color: #bee7fe;    
    margin: 15px 20px 0 20px;
}

.title {
    background: var(--content-area-text-bg-color);
    max-width: auto;
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{ 
    color: var(--header-text-color);
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Segoe UI', sans-serif;
}

content {
    background: var(--content-back-color);
    width: 85%;
    height: auto;
    margin: 0 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-area{
    background: var(--small-content-color);
    max-width:inherit;
    height: auto;
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main{
    display: flex;
    background: linear-gradient(#1B4965, #5FA8D3);
    width: 100%;
    justify-content: center;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1B4965;
  background-color: rgba(27,73,101, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Segoe UI', sans-serif;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  background-color: rgba(37,97,133, 0.7);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.menu-item {
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.submenu {
  display: none;
  flex-direction: column;
  background-color: rgba(37,97,133, 0.7);
  align-items: center;
}

.submenu a {
  font-size: 24px; 
  padding: 8px 0; 
  text-align: center;
  font-family: 'Segoe UI', sans-serif;  width: 100%;
}

.menu-item:hover .submenu {
  display: flex;
  width: 100%;
}

.submenu a:hover {
  background-color: rgba(50,120,160, 0.7);
}


.sidenav {
  height: 75%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 140px;
  left: 0;
  background-color: #1B4965;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #256185;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
