:root{
    --header-bg-color: #CAE9FF;
    --header-text-color:black;
    --both-inner-box-color: aliceblue;
    --footer-color:  #1b4965;
    --footer-text-color: white;
    --switch-day-night: #69B4E0;
    --switch-fill-color: #205274;
    --shadow-jitsu-color: #1b4965;

    --sign-out: linear-gradient(to left, #5DB4E7, #92D2FF );
    --sign-in: linear-gradient(to left, #5DB4E7, #92D2FF );
    --log-out-icon: #002139;

    --login-box-color: white;
    --login-form-color: #CAE9FF;
    --login-outer-box-color: white;
    --login-shadow: #E1D9D9;

    --main-topic-box-color: linear-gradient(to bottom,#1b4965,#5FA8D3 );
    --main-topic-img-color: linear-gradient(#3485bb,#61afd8 ); 
    --esp-topic-box-color: linear-gradient(to bottom,#1b4965,#5FA8D3 );
    --esp-topic-img-color: linear-gradient(#205274,#417592 );
    --content-back-color: white;
    --pillar-background: linear-gradient(#CAE9FF, #1b4965);

    --menu-color: rgb(202, 233, 255, 0.9);
    --menu-text-color: #000; 
    --sub-menu-hover: rgba(153, 190, 215, 0.7);
    --sub-menu-background: rgba(164, 206, 233, 0.7);

}
body.darkmode{
    --header-bg-color: #073550;
    --header-text-color:white;
    --both-inner-box-color: #69B4E0;
    --footer-color: #002139;
    --footer-text-color: white;
    --switch-day-night: #205274;
    --switch-fill-color: #69B4E0;
    --shadow-jitsu-color: #001E33;

    --sign-out: linear-gradient(to left, #172A46, #172A46);
    --sign-in: linear-gradient(to left, #172A46, #172A46);
    --log-out-icon: white;

    --login-box-colour: #172A46;  
    --login-form-color: #073550;
    --login-outer-box-color: #001524;
    --login-shadow: #1B4965;


    --main-topic-box-color: linear-gradient(to bottom, #5FA8D3, #1b4965 );
    --main-topic-img-color: linear-gradient(#61afd8, #3485bb ); 
    --esp-topic-box-color: linear-gradient(to bottom, #5FA8D3, #1b4965 );
    --esp-topic-img-color: linear-gradient(#417592, #205274 );
    --content-back-color: linear-gradient(to bottom, #001524, #00182A );
    --content-area-text-bg-color: linear-gradient(to bottom, #00182A, #001E33);
    --pillar-background: linear-gradient(#073550, #002139);

    --menu-color: rgb(8, 53, 79, 0.9);
    --menu-text-color: #fff;
    --sub-menu-hover: rgba(11, 46, 86, 0.7);
    --sub-menu-background: rgba(9, 39, 69, 0.7);
}

#theme-switch{
    top: 20px;
    right: 340px;
    height: 50px;
    width: 70px;
    padding: 0;
    border-radius: 50px;
    background-color: var(--switch-day-night);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    border-style: none;
    overflow: hidden; 
}

#theme-switch svg{
    fill: var(--switch-fill-color)
}
#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

#googleSignIn{
    top: 20px;
    right: 20px;
    height: 50px;
    width: 100px;
    gap: 10px;
    padding: 0;
    border-style: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    margin-right: 80px ;
    background-image: var(--sign-in);
    color: var(--header-text-color);
    overflow: hidden; 
}

#signOut{
    top: 20px;
    right: 20px;
    height: 50px;
    width: 100px;
    gap: 5px;
    padding: 0;
    border-style: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    margin-right: 200px ;
    background-image: var(--sign-out);
    color: var(--header-text-color);
    overflow: hidden; 
}

#user-icon{
    top: 20px;
    right: -20px;
    margin-right: 50px;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
    border-style: none; 
}

header{
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100px;
}

header a {
    position: absolute;
    top: 20px;
    left: 25px;
    display: block;
    border: solid 2px #fff; /*leave dis*/
    border-radius: 5px;
    width: 60px;
    height: 60px;
    overflow: hidden; 
}

.header-text{
    color: var(--header-text-color);
    text-align: center;
    width: 100%;
    font-size: 18px;
    position: static;
    font-family: 'Segoe UI', sans-serif;
}

#header-logo {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 5px;
    object-fit: fill;
}


.main-topic {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-topic-box-color);
    width: 200px;
    height: 300px;
    margin: 20px 15px 20px 15px;
    border-radius: 20px;
    color: inherit;
    box-shadow: var(--shadow-jitsu-color) 0px 10px 0px 0px;
}

.main-topic img {
    border : solid 3px #1b4965;;
    border-radius : 20px;
    background: var(--main-topic-img-color);
    height: 180px;
    width: 180px;
    margin: 15px 20px 0 20px;
}


.main-topic h3 {
    background-color: var(--both-inner-box-color);
    border: solid 3px #1b4965;
    border-radius: 20px;
    width: 200px;
    padding: 0;
    margin: 20px;
    width: 180px;
    height: 80px;
    text-align: center;
    font-size: 13px;
    color: black;
    padding-top: 13px;
    font-family: 'Segoe UI', sans-serif;
}

.esp-topic {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--esp-topic-box-color);
    width: 200px;
    height: 300px;
    margin: 20px 15px 20px 15px;
    border-radius: 20px;
    color: inherit;
    box-shadow: var(--shadow-jitsu-color) 0px 10px 0px 0px;
}

.esp-topic img {
    border : solid 3px #1b4965; /*leave this*/
    border-radius : 20px;
    background: var(--esp-topic-img-color);
    height: 180px;
    width: 180px;
    margin: 15px 20px 0 20px;
}

.esp-topic h3 {
    background-color: var(--both-inner-box-color);
    border: solid 3px #1b4965;
    border-radius: 20px;
    width: 200px;
    padding: 0;
    margin: 20px;
    width: 180px;
    height: 80px;
    text-align: center;
    font-size: 13px;
    color: black;
    padding-top: 13px;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--content-back-color);
    color: var(--header-text-color);
    transition: background 0.3s, color 0.3s;
}


footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px;
    margin: 0px;
}

input[type=submit] {
  background-color: #1b4965;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.main-topic:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

p{
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
}

form{
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    margin: 30px auto;
    border-radius: 20px;
    background-color: #bee7fe;
    border: solid 3px #1b4965;
    padding: 10px;
    max-width: 800px;
}

input[type=submit] {
  background-color: #1b4965;
  border: solid 3px #1b4965;
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

label {
  padding: 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

select {
  padding: 10px;
  font-size: 15px;
  border: 2px solid #1b4965;
  border-radius: 8px;
  background-color: #1b4965;
  color: white;
  cursor: pointer;
}

select:focus {
  border-color: #0077cc;
  outline: none;
  background-color: #1b4965;
  color: white;
}

arrow-Nav {
    display: flex;
    justify-content: center;
    gap: 40px; /* space between arrows */
    margin: 20px 0;
}

arrow-Nav a {
    position: static; /* or just remove position */
    margin: 0 20px;
}


#arrow {
    background-color: #bee7fe;
    display: block;
    margin: 0;
    border: 0;
    border-radius: 5px;
    object-fit: fill;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 20px 15px 20px 15px;
    border-radius: 20px;
    color: inherit;
    border : solid 3px #1b4965;;
    border-radius : 20px;
    background-color: #bee7fe;    
    margin: 15px 20px 0 20px;
}

.title {
    background: var(--content-area-text-bg-color);
    max-width: auto;
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{ 
    color: var(--header-text-color);
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Segoe UI', sans-serif;
}

content {
    background: var(--content-back-color);
    width: 85%;
    height: auto;
    margin: 0 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-area{
    max-width:inherit;
    height: 100;
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main{
    display: flex;
    background: var(--pillar-background);
    width: 100%;
    justify-content: center;
}


.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--menu-color);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Segoe UI', sans-serif;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--menu-text-color);
  display: block;
  transition: 0.3s;
  font-family: 'Segoe UI', sans-serif;
}

.overlay a:hover, .overlay a:focus {
  background-color: var(--sub-menu-hover);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.menu-item {
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.submenu {
  display: none;
  flex-direction: column;
  background-color: var(--sub-menu-background);
  align-items: center;
}

.submenu a {
  font-size: 24px; 
  padding: 8px 0; 
  text-align: center;
  font-family: 'Segoe UI', sans-serif;  width: 100%;
}

.menu-item:hover .submenu {
  display: flex;
  width: 100%;
}

.submenu a:hover {
  background-color: var(--sub-menu-hover);
}


.sidenav {
  height: 75%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 140px;
  left: 0;
  background-color: #1B4965;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #256185;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* LOGIN PAGE STYLES */

.login-box {
  position: relative;
  align-items: center;
  background: var(--login-outer-box-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--login-shadow);
  width: 100vh;
  height: 60vh;
  margin-left: 320px;
}

.login-box input,
.login-box button {
  margin-left: 80px; /* Adjust value as needed */
}


.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  margin: 10px 0 5px;
  color: var(--header-text-color);
  margin-left: 160px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 32%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.login-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding: 12px;
  background-color: #5FA8D3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

#login-form {
  background-color: var(--login-form-color);
  border: none;
  padding: 30px;
}

.login-box button:hover {
  opacity: 0.8;
}

.login-box .cancelbtn {
  background-color: #3d7494;
  margin-top: 10px;
}

.tubby {
  position: absolute; 
  top: 140px;
  right: 100px;
  padding: 0px;
}
.tubby img{
  margin-left: auto;
  display: block;
}
/*LOGIN PAGE STYLES END */


/* SIGNUP PAGE STYLES */

#signupForm{
  background-color:var(--login-form-color);
  border-style: none;
    height: 62vh;
}

/* Signup Box */
.signup-box{
  background-color: var(--login-outer-box-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--login-shadow);
  width: auto;
}

/* Heading */
.signup-box h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Labels */
.signup-box label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: var(--header-text-color);
}

/* Input Fields */
.signup-box input[type="text"],
.signup-box input[type="email"],
.signup-box input[type="password"] {
  width: 40%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
}

/* Focus Effect */
.signup-box input:focus {
  border-color: #04AA6D;
  outline: none;
}

/* Error Input Highlight */
input.error {
  border-color: #f44336;
}

/* Buttons */
.signup-box button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43%;
  padding: 12px;
  background-color: #5FA8D3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.signup-box button:hover {
  opacity: 0.9;
}

/* Cancel Button */
.signup-box .cancelbtn {
  background-color: #3d7494;
  margin-top: 10px;
}

/* Error Message */
#error-message {
  color: #f44336;
  font-size: 14px;
  margin: -10px 0 10px 0;
  display: none;
  text-align: left;
}

/* Link to Login */
.login-link {
  text-align: center;
  margin-top: 15px;
  position: relative;
  right: 90px;
}

.login-link a {
  color: #04AA6D;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

#googleSignUp {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px auto 0 auto; 
  display: block; 
  position: relative;
  left: 190px;
}

.right-align {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right; 
  position: relative;
  top: -460px;
}
.tubby1 img {
  position: relative;
  right: 40px;
}

.form-left {
  margin-left: 50px;
}

/* SIGNUP PAGE STYLES END */